{{> head}}
    
    {{> navbar }}

<div class="row">

    <div class="col-8">
        <h1> Edgar Melean </h1>

        <p>Yo hice que apareciera la imagen</p>
    </div>

    <div class="col-4">
        <img src="assets/img/foto-edgar.jpg" class="img-thubmail">
    </div>
</div>


 {{> footer}}